*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Mulish', sans-serif;
    text-decoration: none;
}

details{
    position: relative;
}

details button{
    position: absolute;
    top: 20px;
    width: 40px;
}

.around{
    border-bottom: 1px solid rgb(235, 235, 235);
    

}

.container{
    width: 1255px;
    margin: 0 auto;
    padding: 0 20px;
}

.papa{
    display: flex;
    gap: 738px;
    align-items: center;

    height: 32px;
}

.chap a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.active{
    height: 33px;
    background-color: #cc0000;
    font-weight: 600 !important;
    color: white !important;
}

.papa1{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 15px 0;
}

.logo img{
    width: 182px;
    height: 50px;
}

.center{
    margin-right: 30px;
}

#bn{
    border: none;
}

.center a{
    padding-right: 10px;
    margin-right: 10px;

    font-weight: normal;
    font-size: 14px;

    border-right: 1px solid rgb(228, 228, 228);

    color: black;
    text-decoration: none;
}

.center a:hover{
    text-decoration: underline;
}

.right1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn2{
    display: flex;
    margin-right: 30px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 7px;
}

.btn2 img{
    padding: 4px;
    width: 38px;
    height: 38px;
    border-right: 1px solid #e6e6e6;
}

.papa2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navi{
    height: 56px;
    background-color: #007aff;
    display: flex;
    align-items: center;
}

.left1{
    
    color: white;
    padding: 15.5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
}

.left1 h1{
    font-size: 18px;
}

.left1:hover{
    background-color: #0062cb;
}

.icon{
    

    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 1px;
}

.orta input{
    width: 600px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding-left: 15px;

    margin-left: 30px;

    background-color: rgb(224, 241, 255);
}

.orta input:hover{
    background-color: white;
}

.orta img{
    position: absolute;
    top: 130px;
    right: 690px;
}

.right2{
    display: flex;
}

.right2 a{
    height: 56px;
    width: 160px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

sub{
    position: absolute;
    right: 464px;
    top: 122px;
    background-color: #e6e6e6;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(53, 227, 10);
}

.right2 a:hover{
    background-color: #0062cb;
}

.onajon{
    width: 600px;
    height: 470px;
    position: absolute;
    top: 170px;
    left: 622px;

    border-radius: 6px;
    border: 1px solid #e7e7e7;
    background-color: rgb(221, 221, 221);

    z-index: 99;
}

.onajon img{
    width: 60px;
    height: 60px;

}

.cards{
    width: 100%;
    max-height: 468px;
    overflow-y: scroll;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 9px 2px #b3b3b3;
}

.card-search{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    padding-right: 10px;
    color: black;
    background-color: white;
}

.card-search h1{
    text-decoration: none;
}

.ada{
    padding: 20px;
    margin: 30px 0;
    background-color: #e7e7e7;
}

.pap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.left2 img{
    width: 400px;
    height: 400px;
}

.btn{
    width: 150px;
    background-color: rgba(0, 0, 1, 0);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;

    padding-left: 10px;
}

.btn:hover{
    background-color: #0062cb;
}

.right2 .image{
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    padding-top: 18px;
    position: absolute;
    right: 620px;

}

.kartala{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(174, 174, 174);
}

.karta{
    display: flex;
    width: 400px;
    background-color: white;
    color: black;

}

.karta h1{
    font-size: 15px;
}

.karta img{
    width: 150px;
    height: 150px;
}

